*{
    margin:0px;
    padding:0px;
    /* background-color: aliceblue; */
}


.product-info{
    display: flex;
}

.product-left{
    width: 50%;
    display: flex;
    padding-right: 12px;
}



.product-left .product-items {
    width: 15%;
 
}

.product-left .product-items .small-img {
    margin: 5px;
    width: 70%;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 3px;
}

.product-left .product-items-img img{
 
  border: 2px solid rgb(139, 139, 139);
  border-radius: 2px;
   margin-top: 5px; 
   width: 100%;
}



.product-right{
    width: 50%;
  
    /* height: 300px; */
    margin-top: 5px;
    margin-left: 20px;
}


.product-right .nav-item .nav-link{
    color: rgb(87, 87, 87);
}

.product-right .nav-item .nav-link.active{
    color: rgb(0, 0, 0);
    border : 0px 2px 0px 0px ;
    border-bottom: 1px solid red ;
}


/* Product-Description */

.product-description{
  
padding: 20px 0px 40px 0px ;
}


/* product-prices */

.product-prices{
    display: flex;
    justify-content: space-between;
}

.product-prices .new-price h3{
    color: red;
    font-weight:bolder;
}
.product-prices .old-price h4{
    color: rgb(103, 103, 103);
    font-weight:bolder;
}


.product-prices .instock{
    color: rgb(75, 179, 75);
    font-size: medium;
}

.product-option img{
border-radius: 50px;
border: 2px solid grey;
}



/* product order  */

.product-order{
    display: flex;
    justify-content: space-between;
}
 .quantity{
 display: flex;
    border: 1px solid black;
    width: 45px;
  
}

.product-order #product-quantity{
    
    width: 28px;
    overflow: visible;
    border: none;
    padding: 0px 0px 0px 10px;

 
}

.product-count{
    display: grid;
 
}


.product-order .btn-primary{
    
        font-size: small;
        width: 50%;
        border-radius: 4px;
        background-color: blue;
    
    
}


.product-order .btn-success{
    font-size: small;
    width: 30%;
    border-radius: 4px;
}

.product-order .btn-danger{
  
    width: 10%;
    border-radius: 4px;
}



/* product-cards */

.product-cards{
    margin-top: 100px;

   
}

.product-cards .card{
    margin: 20px;
}

.product-cards .btn-sm {
    padding: 3px;
    font-size: small;
    background-color: rgb(62, 62, 246);
}


.product-cards .card-footer{
    display: flex;
    justify-content: space-between;
}



.related-cards{
    display: flex;
}


/* media-queries */


@media screen and (max-width:1199px) {

    .product-info{
        display: flex;
        flex-direction: column;
    }



    .product-left{
        width: 100%;
    }

    .product-right{
        width: 100%;
    }
}


@media screen and (max-width:500px) {
    
    .product-left .product-items .small-img {
     display: none;
    }
}