*{
    margin:0px;
    padding:0px;
    /* background-color: aliceblue; */
}


.product-info{
    display: flex;
}

.product-left{
    width: 50%;
    display: flex;
    padding-right: 12px;
}



.product-left .product-items {
    width: 15%;
 
}

.product-left .product-items .small-img {
    margin: 5px;
    width: 75px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 3px;
}

.product-left .product-items-img img{
 
  border: 2px solid rgb(139, 139, 139);
  border-radius: 2px;
   margin-top: 5px; 
}



.product-right{
    width: 50%;
    /* background: rgb(82, 82, 255); */
    height: 300px;
    margin-top: 5px;
}


.product-right .nav-item .nav-link{
    color: rgb(87, 87, 87);
}

.product-right .nav-item .nav-link.active{
    color: rgb(0, 0, 0);
    border : 0px 2px 0px 0px ;
    border-bottom: 1px solid red ;
}


/* Product-Description */

.product-description{
  
padding: 20px 0px 40px 0px ;
}


/* product-prices */

.product-prices{
    display: flex;
}