
.search-section{
    display:flex;
}


.left-side{
    width: 20%;
    /* height: 300px; */
    /* background-color: aqua; */
}


.right-side{
    width: 80%;
    /* height: 300px; */
    /* background-color: rgb(247, 239, 164); */
    padding-left: 20px;
}



/* *************
 Right Side
 ****************  */

.search-category {
    display: flex;
}


    
.category-item{
    width: 80px;
    margin-right: 10px;
    border: 1px solid grey;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow .3s;
}


.category-item:hover{
    box-shadow: 0 0 11px rgba(54, 54, 54, 0.5); 
}



.category-item img{
 width: 100%;
}



/* search-card */

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-top: 10px    ;
}

.compare-product a{
padding-right: 20px;
}


.sort-product{
    display: flex;
    font-size: small;
  
}

.sortBy{
    display: flex;
    align-items: center;
   
    margin-right: 10px;
}

.show{
    display: flex;
    align-items: center;
}


/* product-cards-items */

.product-cards-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-cards-item .card{
    margin: 10px;
}


.product-cards-item .card .card-header{display: flex;
    justify-content: space-between;
}


 .product-cards-item .card .card-foot {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.product-cards-item .card .card-foot a{
    text-decoration: none;
}

.fa-circle-question{
    color: red;
}

.fa-dollar-sign{
    color: green;
}
/************
left-side
**********/

.left-side{
    padding-right: 20px;
}


.searched-item-image{
    width: 100%;
}


/* comman class to justify content */
.justify{    
display: flex;
justify-content: space-between;
font-size: medium;
align-items: center;
font-weight: 600;
color: rgb(42, 42, 195);
}

/* comman class for padding for the left section */


.comman-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}


.filter-heading .title{
    border-bottom:1px solid red ;
    font-size: medium;
}


.option-item-padding{
    padding-top: 10px;
    padding-bottom: 10px; 
}

.sub-options{
    height: 250px;
    overflow-y: scroll;
}

.option-item img{
    border: 1px solid rgb(202, 202, 202);
    margin-left: 5px;
}



/* brands-options */

.brands-options{
    display: flex;
    flex-wrap: wrap;
}
.brands-options img{
padding: 2px;
margin: 5px;
border: 1px solid rgb(178, 178, 178) ;
}



/* color filter options */

.color-options{
    display: flex;
    flex-wrap: wrap;
  
}

.color-options img{
margin: 5px;
border: 1px solid rgb(177, 177, 177);
  
}

@media screen and (max-width:768px) {
    
    .left-side{
        display: none;
    }

}