* {
    margin: 0px;
    padding: 0px;

}





/* main-bar */

.top-bar_main {
    background-color: #fffefe;
    display: flex;
    justify-content: space-evenly;
}

.top-bar a {
    color: rgb(111, 111, 111);
    padding: 5px;
    text-decoration: none;
}

.top-bar .right-items {
    padding: 5px;
}

.top-bar .right-items i {
    padding: 5px;
}


.middle-bar {
    align-items: center;
    padding: 0 180px;
    justify-content: space-evenly;
    background-color: #cacaca;
    height: 100px;
}


.search-bar .all-items {
    background-color: (13, 82, 214, 1);
}

.search-bar .search-icon button {

    background-color: rgba(13, 82, 214, 1);
    height: 28px;
    width: 30px;
    border-radius: 0px 5px 5px 0px;

}


.secondry-menu a {
    color: rgb(81, 79, 79);
    text-decoration: none;
    padding-left: 10px;
    display: inline-grid;
    text-align: center;
}

.cart-menu a {
    padding-left: 10px;
    text-decoration: none;
    color: rgb(81, 79, 79);
}






.comm-pm {
    /* margin-left: 8%; */
    /* margin-right:10%; */
    overflow: hidden !important;

}



/* ************************
Bottom-bar
******************** */

.bottom-bar {
    background-color: rgba(13, 82, 214, 1);
}

.bottom-bar-items {
    height: 80px;
    background-color: rgba(13, 82, 214, 1);

    align-items: center;

}



.bottom-bar-items .multi li {

    list-style: none;
    padding-right: 10px;

}

.bottom-bar-items a {
    text-decoration: none;
    color: white;

}




/* *****************
responsive header
***************** */

.responsive-header {
    height: 40px;
    background-color: rgba(13, 82, 214, 1);

}

.responsive-bar {
    display: flex;
    height: 40px;


    justify-content: space-between;
    align-items: center;
}


.responsive-bar li {
    list-style: none;
    float: left;
}



.responsive-bar a {
    color: white;
    text-decoration: none;
    padding-right: 5px;

}







/* *************
home banner
************* */

.home-banner-img {


    margin-top: 20px;
}

.car-img {

    height: 74.666667%;

}


.carousel-item img {
    border-radius: 20px;
}

.home-banner .carousel-indicators .active {
    background-color: #eb5d11;
    transition: .5s;
}

.home-banner .side-img img {
    width: 65%;

    float: right;
    background-color: #dd1c1c00;
    margin-bottom: 30px;
}

.home-banner .car-text .btn-primary {
    position: relative;
    bottom: 85px;
    right: 350px;
}

.home-banner .car-text .btn-outline-secondary {
    position: relative;
    right: 21rem;
    bottom: 5rem;
}



.home-banner .car-text h5 {
    font-size: 2rem;
    color: black;
    text-align: start;
    position: relative;
    bottom: 5rem;
    right: 6rem;
}

.home-banner .carousel-item {
    margin-bottom: 10px;
}

.side-img a {

    margin-left: 12px;
}


.set-side-img {
    margin-left: inherit;
}

.side-img {
    background-color: #e7e7e7;
    margin-left: 1.1rem;
    border-radius: 10px;
    position: relative;
    width: 93%;
    margin-bottom: 2rem;
}


.side-img span {
    color: blue;
    font-size: 1rem;
}





.side-img-text {
    position: absolute;
    left: 2px;
    top: 2.9rem;
    font-size: 1.2rem;
}








/* ****************
delivery
**************** */

.boxes {
    justify-content: space-around;
}

.delivery {
    background-color: rgba(58, 71, 84, 1);
    padding: 20px;
 

}

/* .shipping {
    margin-left: 110px;
} */


.delivery .row{
    justify-content: space-between;
}

/* .del-info .icon {
    height: 80%;
    width: 32%;
    border: 3px solid rgba(13, 82, 214, 1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */




.del-info .icon .fa-solid {
    padding: 14px;
    color: rgba(233, 102, 49, 1);
    font-size: 200%;
    border: 2px solid blanchedalmond ;
    border-radius: 100px;
}


.delivery .justify .del-info .fa-solid .fa-truck-fast {
    font-size: 150%;
    padding-top: 30%;
    padding-bottom: 25%;
}


.del-info .desc {
    width: 171px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    color: rgb(126, 126, 126);
}

.del-info .desc h5 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: rgb(210, 208, 208);
}



.del-info {
    display: flex;
    flex-basis: content;
    justify-content: center;
  
}


/* **************
why buy
************** */
.why-buy {
    margin-top: 40px;
}

.comm-head {
    text-align: center;
    justify-content: center;
    padding-top: 10px;

}

.comm-head h3 {
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-weight: bold;

}

.comm-head .comm-hr {
    height: 4px;
    width: 60px;
    margin-top: 10px;
    background-color: rgb(255, 23, 23);
    margin: auto;

}

.comm-head .desc {
    padding-top: 10px;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;

}


.comm-grp-btn {
    margin-top: 20px;
    position: relative;
    left: 39%;
    right: 39%;


}

.why-card img {
    display: block;
    width: 100%;
    height: 333px;

}


.why-buy-cards {
    margin-top: 100px;
    /* margin-left: 200px; */
}



/* .why-buy .card{
    height: 333px;
} */



.why-card button {
    width: 55%;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 31px;
    left: 25%;
}




.why-buy-cards .comm-card img {
    display: flex;
    flex: wrap;
    height: 300px;
    display: block;
    width: 100%;
    height: 100%;
}

/* ************ why-buy .owl-carousel*********** */
.owl-carousel {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

/* .owl-carousel .item { */
/* font-size: 30px; */
/* text-align: center; */
/* padding: 40px 20px; */
/* line-height: 2;
    font-weight: 700;
    background-color: #eee; */
/* } */




.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.owl-nav button span {
    font-size: 30px;
    height: 100%;
    display: block;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-carousel .owl-nav {
    margin: 0;
}

.btn-wrap {
    text-align: center;
    width: 100%;
}

.owl-theme .owl-nav .disabled,
button.disabled {
    opacity: 0.6;
}



.carousel-wrap {
    /* margin: 90px auto; */
    padding: 0 5%;
    /* width: 80%; */
    position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}


/* ****************
Featured Product
**************** */


.featured-product {
    margin-top: 100px;
}


.comman-grp-btn{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}



.featured-product .feat-comm-card .card img {

    height: 350px;
}

.featured-product .card{
    width: 18rem;
    height: 536px;
}

.featured-product .feat-comm-card .card button {

    width: 100px;
    margin-left: 20px;

}


/* .featured-product-cards {
    margin-top: 100px;

} */

.featured-product .card-header {
    background-color: #f5f2f2;
    display: flex;
    justify-content: space-between;
}



.featured-product .card-header a {
    color: rgb(123, 122, 122);
}

.featured-product .card-body .fa-heart {
    padding-left: 20px;
}

.featured-product .card-foot a {
    /* display: flex; */
    color: rgb(123, 122, 122);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.featured-product .card-foot {
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
}


/* featured-product owl-carousel */

.featured-product .owl-carousel .item {
    /* font-size: 30px; */
    /* text-align: center; */
    /* padding: 40px 20px; */
    display: flex;
    justify-content: center;
    line-height: 2;
    font-weight: 700;
    /* background-color: #eee; */
}






.see-all-btn {
   display: flex;
   justify-content: center;
}







/* 
****************
featured-category

**************** */


.featured-category {
    margin-top: 100px;
    background-color: #ececec;
    padding-bottom: 50px;
}

.feat-cat-background {

    width: 100%;
}


.featured-category .left-cart-grey {
    border: none;
    background-color: #cacaca;
    margin-left: -6px;
    border-radius: 0px;
}

.featured-category .card {
    width: 91%;
    height: 100%;
}


.featured-category .left-cart-grey img {
    margin-top: 20px;
    position: relative;
    left: 18px;
    width: 93%;
}




.featured-category .left-cart-grey .head span {
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 18px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(231, 75, 75);
}


.featured-category .card-body .foot {

    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.featured-category .card-body .foot .fa-heart:hover {
    color: red;

}


.col-md-2 {
    flex: 0 0 auto;
    width: 19.666667%;
}


/* *******featured-category owl carsoule css***** */

.feat-cat-background .owl-carousel {

    width: 80%;

}

/* .feat-cat-background .card{
    width: 15rem;
    height: 400px;
} */


.feat-cat-background .container {
    margin-top: 50px;
    background-color: #ffffff;
}




/* ****************
shop by brand
****************** */


.shop-by-brand {
    margin-top: 100px;
    margin-bottom: 100px;
}

.set-img {
    margin-top: 20px;

}

.brand-img {

    flex-wrap: wrap;
}

.set-img .inner-img {
    height: 120px;
    width: 120px;
    display: flex;
    /* background-color: aqua; */
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    flex-wrap: wrap;

}

.col-md-1 {
    flex: 0 0 auto;
    width: 10.333333%;
    display: flex;
    flex-wrap: wrap;
}

.set-img .inner-img img {
    height: 110px;
    width: 110px;
    padding: 14px;
    border-radius: 10px;
    margin: 5px;

}


/* ***************shop by brand owl-carsoule ******** */

.shop-by-brand .owl-carousel .item {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}






/* ***********************
Improved Gallery Module
*********************** */

.imp-gall-mod {
    margin-top: 90px;

    color: #fffbfb;
    background-color: rgba(58, 71, 84, 1);
}

.imp-gall-mod .inner-img {
    border: none;
    margin-bottom: 50px;
    display: flex;

}

/* .imp-gall-mod .col-md-4{

} */

.gallery-mod-row {
    display: flex;
    justify-content: space-evenly;
}

.imp-gall-mod .inner-img img {
    height: 130px;
    width: 130px;
    border-radius: 31px;
}

.gall-img img {
    height: 50px;
    width: 50px;

    padding-left: 10px;
}

/* ***********
  from  our blog
    *********** */


.our-blog {

    margin-bottom: 50px;

}

.our-blog .cards {
    width: 16rem;
    height: 400px;
}

.our-blog .owl-carousel .item {
    display: flex;
    justify-content: center;
}









/* ************************************
    What are people saying about us
************************************    */



.what-say {
    margin-top: 50px;

}

.what-say .card {
    margin-top: 30px;
    text-align: center;

}


/* *******************
Most Viewed Product
******************** */

.most-view {

    background-color: rgba(58, 71, 84, 1);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.most-view-head{

    color: #b9b9b9;
    border-bottom: 3px solid #eb5d11;
    padding-bottom: 10px;
    margin-bottom: 10px;

}


.products-container{
    display: flex;
    justify-content: space-between;
}

.most-viewed-product {

    width: 300px;
    background-color: #ffffff;
    border-width: 1px solid rgba(226, 226, 226, 1);
    border-radius: 3px;
    padding: 7px;
    display: flex;
}


.most-viewed-product .pic-content{
    margin-left: 20px;
    width: 160px;
}
.most-viewed-product .pic-content-heading {
    text-decoration: none;
    color: #000;
}

.most-viewed-product .price .new-price {
    color: red;
    font-size: 20px;
}

.most-viewed-product .price .old-price {
    color: grey;
    font-size: 15px;
    text-decoration: line-through;
}


.most-viewed-product .price .orignal-price {
    color: rgb(2, 2, 2);
    font-size: 20px;

}



.most-viewed-product .pic-content .more-info {
    display: flex;
    justify-content: space-between;
    color: grey;
}

.most-viewed-product .pic-content .more-info a {
    color: grey;
}




/* *****************
social
*****************  */
.social {
    margin-top: 100px;

}

.social .row {
    justify-content: center;
}

.so-icon {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    margin-left: 2rem;



}

.so-icon .fa-brands {

    color: rgb(36, 152, 248);
    font-size: 50px;

}




/* ***************
    about us 
***************  */
.about {
    margin-top: 60px;
}


.same-head {

    color: rgb(82, 82, 82);

}

.about .divider {
    border-bottom: 5px solid rgb(202, 99, 8);
    width: 40px;
}

.about ul {
    padding-left: 0px;
}


.about li {
    list-style: none;

}

.about li a {
    text-decoration: none;

}

/* .about .email input {
    border: unset;
    width: 240px;

} */

.about .news .btn .btn-primary {
  
}


.about .email {
  
    display: flex;  
}

.about input{
    width: 45%;
    border: 2px solid black;
    font-size: none;
    }

.about .col-md-3 {
  
    border-right: 2px solid #a1a1a1;
}

.about .news{
    border: unset;
}


/* ************
footer
************ */

.footer {
    height: 30px;
    background-color: rgb(104, 104, 104);

}




/* ************* 
Media Query
*************** */



@media(max-width:1399px) {
    .home-banner .car-text h5 {
        font-size: 1.2rem;
        bottom: 0rem;
        right: 0rem;
    }

    .home-banner .car-text .btn-outline-secondary {
        bottom: 0rem;
        right: 42%;
        font-size: 0.7rem;
    }

    .home-banner .car-text .btn-primary {
        margin-bottom: 5px;
        bottom: 0rem;
        right: 44%;
        font-size: 0.7rem;
    }

    .home-banner .side-img img {
        margin-bottom: 15px;
    }

    .side-img-text {
        position: absolute;
        left: 2px;
        top: 2rem;
        font-size: 1.1rem;
    }
}


@media screen and (max-width:1199px) {

    .why-buy-cards .comm-card {
        margin-right: 5px;
    }

    .side-img-text {
        position: absolute;
        left: 2px;
        top: 1.6rem;
        font-size: 1rem;
    }

}


@media screen and (min-width:991px) {

    .responsive-header {
        display: none;
    }

}

@media screen and (max-width:991px) {


    .why-buy-cards .comm-card {
        margin: 50px;

    }

    .comm-grp-btn {
        position: relative;

        left: 30%;
    }



    iframe {
        display: none;
    }

    .side-img-text {
        position: absolute;
        left: 2px;
        top: 1rem !important;
        font-size: .8rem;
    }

    .home-banner .car-text .btn-outline-secondary {
        bottom: 0rem;
        right: 37.4%;
        font-size: 0.7rem;
    }

    .home-banner .car-text .btn-primary {
        margin-bottom: 5px;
        bottom: 0rem;
        right: 40%;
        font-size: 0.7rem;
    }



    .feat-cat-background .owl-carousel {
        width: 62%;
    }
}





@media(max-width:768px) {
    .set-side-img {
        display: flex;
    }


    .row .side-img .img-a {
        position: relative;
        margin-left: 0px !important;
    }



    .side-img-text {
    
      
        font-size: .8rem;
    }


    .why-buy-cards {


        display: flex;

        flex: wrap;

        /* position: relative;
      left: 20%; */
        /* height: 300px; */
    }

    .delivery .row {
        justify-content: center;
    }

  

    .comman-grp-btn{
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

}