* {
    margin: 0px;
    padding: 0px;
    
}





/* main-bar */

.top-bar_main {
    background-color: #fffefe;
    display: flex;
    justify-content: space-evenly;
}

.top-bar a {
    color: rgb(111, 111, 111);
    padding: 5px;
    text-decoration: none;
}

.top-bar .right-items{
    padding: 5px;
}
.top-bar .right-items i{
    padding: 5px;
}


.middle-bar {
    align-items: center;
    padding: 0 180px;
    justify-content: space-evenly;
    background-color: #cacaca;
    height: 100px;
}


.search-bar .all-items{
    background-color: (13,82,214,1);
}

.search-bar .search-icon button{

    background-color:  rgba(13,82,214,1);
    height: 28px;
    width: 30px;
    border-radius: 0px 5px 5px 0px;

}


.secondry-menu a {
    color: rgb(81, 79, 79);
    text-decoration: none;
    padding-left: 10px;
    display: inline-grid;
    text-align: center;
}

.cart-menu a {
    padding-left: 10px;
    text-decoration: none;
    color: rgb(81, 79, 79);
}






.comm-pm {
    /* margin-left: 8%; */
    /* margin-right:10%; */
    overflow: hidden !important;
   
}



/* ************************
Bottom-bar
******************** */

.bottom-bar{
    background-color: rgba(13,82,214,1);
}

.bottom-bar-items{
    height: 80px;
    background-color:rgba(13,82,214,1);
 
    align-items: center;
    
}



.bottom-bar-items .multi li{

    list-style: none;
    padding-right: 10px;

}

.bottom-bar-items a{
    text-decoration: none;
    color: white;
  
}




/* *****************
responsive header
***************** */

.responsive-header{
    height: 40px;
    background-color: rgba(13, 82, 214, 1);
  
}

.responsive-bar{
    display: flex;
    height: 40px;
  
 
    justify-content: space-between;
    align-items: center;
}


.responsive-bar li{
    list-style: none;
    float: left;
}



.responsive-bar  a{
    color: white;
    text-decoration: none;
    padding-right: 5px;

}







/* *************
home banner
************* */

.home-banner-img{


    margin-top: 20px;
}

.car-img{

    height: 74.666667%;

}


.carousel-item img{
    border-radius: 20px;
}

.home-banner .carousel-indicators .active{
    background-color: #eb5d11;
    transition: .5s;
}

.home-banner .side-img img{
    width: 65%;

    float: right;
    background-color: #dd1c1c00;
    margin-bottom: 30px;
} 

.home-banner .car-text .btn-primary{
    position: relative;
    bottom: 85px;
    right: 350px;
}

.home-banner .car-text .btn-outline-secondary{
    position: relative;
    right: 21rem;
    bottom: 5rem;
}



.home-banner .car-text h5{
font-size: 2rem;
color: black;
text-align: start;
position: relative;
bottom: 5rem;
right: 6rem;
}

.home-banner .carousel-item{
    margin-bottom: 10px;
}

.side-img a {

    margin-left: 12px;
}


.set-side-img{
    margin-left: inherit;
}

.side-img {
    background-color: #e7e7e7;
   margin-left: 1.1rem;
    border-radius: 10px;
    position: relative;
    width: 93%;
    margin-bottom: 2rem;
}


.side-img span{
    color: blue;
    font-size: 1rem;
}





.side-img-text{
    position: absolute;
    left: 2px;
    top: 2.9rem;
    font-size: 1.2rem;
}








/* ****************
delivery
**************** */

.boxes{
    justify-content: space-around;
}
.delivery{
    background-color: rgba(58,71,84,1);
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  
}

.shipping{
    margin-left: 110px;
}
.del-info .icon{
    height: 70px;
    width: 70px;
    border: 3px solid rgba(13,82,214,1);
   border-radius: 50px;
   justify-content: center;
   
}




.del-info .icon .fa-solid{
   padding: 14px;
   color:rgba(233, 102, 49, 1);
}


.del-info .desc{
    width: 171px;
  margin-top: 10px;
  margin-left: 5px;
  color: rgb(126, 126, 126);
}
.del-info .desc h5{
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: rgb(210, 208, 208);
}


.del-info{
    display: flex;
    justify-content: center;
}


/* **************
why buy
************** */
.why-buy{
    margin-top: 40px;
}
.comm-head{
    text-align: center;
    justify-content: center;
    padding-top: 10px; 
    
}

.comm-head h3{
    text-align: center;
    justify-content: center;
    padding-top: 10px; 
    font-weight: bold;
    
}

.comm-head .comm-hr{
  height: 4px;
  width: 60px;
  margin-top: 10px;
 background-color: rgb(255, 23, 23);
 margin: auto;

}

.comm-head .desc{
  padding-top: 10px;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;

}


.comm-grp-btn{
    margin-top: 20px;
    position: relative;
    left: 39%;
    right: 39%;

 
}

.why-card img{
    display: block;
    width: 100%;
    height: 333px;
  
}


.why-buy-cards{
    margin-top: 100px;
    /* margin-left: 200px; */
}



/* .why-buy .card{
    height: 333px;
} */



 .why-card  button {
    width: 55%;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 25%;
}




.why-buy-cards .comm-card img{
    display: flex;
    flex: wrap;
    height: 300px;  
    display: block;
    width: 100%;
    height: 100%;
}

/* ************ why-buy .owl-carousel*********** */
.owl-carousel {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

/* .owl-carousel .item { */
    /* font-size: 30px; */
    /* text-align: center; */
    /* padding: 40px 20px; */
    /* line-height: 2;
    font-weight: 700;
    background-color: #eee; */
/* } */




.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.owl-nav button span {
    font-size: 30px;
    height: 100%;
    display: block;
    width: 100%;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
.owl-carousel .owl-nav button.owl-next {
    right: 0;
}
.owl-carousel .owl-nav {
    margin: 0;
}
.btn-wrap {
    text-align: center;
    width: 100%;
}

.owl-theme .owl-nav .disabled,
button.disabled {
    opacity: 0.6;
}



.carousel-wrap {
    /* margin: 90px auto; */
    padding: 0 5%;
    /* width: 80%; */
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }


/* ****************
Featured Product
**************** */


.featured-product{
    margin-top: 100px;
}



.featured-product .feat-comm-card .card img{

    height: 350px;
}


.featured-product .feat-comm-card .card button{
  
    width: 100px;
    margin-left: 20px;
   
 }


 .featured-product-cards{
    margin-top: 100px;
  
}

.featured-product .card-header{
    background-color: #f5f2f2;
    display: flex;
    justify-content: space-between;
}



.featured-product .card-header a{
 color: rgb(123, 122, 122);
}

.featured-product .card-body .fa-heart{
    padding-left: 20px;
}

.featured-product .card-foot a{
    /* display: flex; */
color: rgb(123, 122, 122);
 padding: 10px;
 text-decoration: none;
 text-align: center;
}
.card-foot{
    display: flex;
    justify-content: space-around;
}


/* featured-product owl-carousel */

.featured-product .owl-carousel .item {
    /* font-size: 30px; */
    /* text-align: center; */
    /* padding: 40px 20px; */
    display: flex;  
    justify-content: center;
    line-height: 2;
    font-weight: 700;
    /* background-color: #eee; */
}






.see-all-btn{
    margin-top: 20px;
    position: absolute;
   
    left: 46%;
}







/* 
****************
featured-category

**************** */


.featured-category{
    margin-top: 100px;
}

.feat-cat-background{

    width: 100%;
}


.featured-category .left-cart-grey{
  border: none;
  background-color: #cacaca;
}


.featured-category .left-cart-grey img{
    margin-top: 20px;
    position: relative;
    left: -2px;
    width: 100%;
}




.featured-category .left-cart-grey .head span{

    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(231, 75, 75);
    display: block;
    
}


.featured-category .card-body .foot{

  padding-bottom: 30px; 
  /* display: flex; */
  justify-content: space-between;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 19.666667%;
}





/* ****************
shop by brand
****************** */


.shop-by-brand{
margin-top: 100px;
margin-bottom: 100px;
}
.set-img{
    margin-top: 20px;
 
}

.brand-img{
 
    flex-wrap: wrap;
}

.set-img .inner-img {
    height: 120px;
    width: 120px;
    display: flex;
    /* background-color: aqua; */
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
   
}

.col-md-1 {
    flex: 0 0 auto;
    width: 10.333333%;
    display: flex;
    flex-wrap: wrap;
}

.set-img .inner-img img{
    height: 110px;
    width: 110px;
    padding: 14px;
    border-radius: 10px;
    margin: 5px;
    
}


/* ***************shop by brand owl-carsoule ******** */

.shop-by-brand .owl-carousel .item {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  

 .owl-item .active{
    width: 0px;
    margin-right: 5px;
}




/* ***********************
Improved Gallery Module
*********************** */

.imp-gall-mod{
     margin-top: 90px;
 
    color: #fffbfb;
    background-color: rgba(58,71,84,1);
}

.imp-gall-mod .inner-img{
border:none ;
margin-bottom: 50px;
display: flex;

}

/* .imp-gall-mod .col-md-4{

} */

.gallery-mod-row{
    display: flex;
    justify-content: space-evenly ;
}

.imp-gall-mod .inner-img img{
    height: 130px;
    width: 130px;
    border-radius: 31px ;
    }

.gall-img img{
    height: 50px;
    width: 50px;
   
    padding-left: 10px;
}

    /* ***********
  from  our blog
    *********** */


.our-blog{

    margin-bottom: 50px;

}

    .our-blog .feat-comm-cards{

        width:16rem;
    }

    .our-blog  .owl-carousel .item{
        display: flex;
        justify-content: center;
    }


.our-blog .comm-grp-btn{
    margin-top: 20px;
    position: relative;
    left: 44%;
    right: 39%;
}





 
    /* ************************************
    What are people saying about us
************************************    */



.what-say{
    margin-top: 50px;
  
}

.what-say .card{
    margin-top: 30px;
}





/* *****************
social
*****************  */
.social{
    margin-top: 100px;

}

.social .row{
    justify-content: center;
}

.so-icon{
display: flex;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    margin-left: 2rem;
    


}

.so-icon .fa-brands{

   color: rgb(36, 152, 248);
    font-size: 50px;
   
}




/* ***************
    about us 
***************  */
.about{
    margin-top: 60px;
}


.same-head{

color: rgb(82, 82, 82);  
 
}

.about .divider{
    border-bottom: 5px solid rgb(202, 99, 8); 
    width: 40px;
}

.about ul {
    padding-left: 0px;
}


.about li{
    list-style: none;
   
}
.about li a{
    text-decoration: none;
   
}

.about .email input{
    border: unset;
    width: 240px;
  
}

.about .btn .btn-primary{
  border-radius: 0px !important;
}


.about .email{
    border: 2px solid black;
    display: flex;
    border-radius: 5px;
    height: 50px;
}





/* ************
footer
************ */

.footer{
    height:30px;
    background-color: rgb(104, 104, 104);

}




/* ************* 
Media Query
*************** */

@media screen and (max-width:1199px){
    
    .why-buy-cards .comm-card{
        margin-right: 5px;
    }

    .side-img-text{
        position: absolute;
        left: 2px;
        top: 1.6rem;
        font-size: 1rem;
    }
    
}


@media screen and (min-width:991px) {

     .responsive-header{
        display: none;
     }

    }
@media screen and (max-width:991px) {


    .why-buy-cards .comm-card{
        margin: 50px  ;

    }
    
   .comm-grp-btn{
    position: relative;
   
    left: 30%;
   }



iframe{
    display: none;
}

.side-img-text{
    position: absolute;
    left: 2px;
    top: 1rem !important;
    font-size: .8rem;
}
}

@media(max-width:1399px)
{
    .home-banner .car-text h5
    {
        font-size: 1.2rem;
        bottom: 0rem;
        right:0rem;
    }
    .home-banner .car-text .btn-outline-secondary
    {
        bottom: 0rem;
        right: 38%;
        font-size: 0.7rem;
    }
    .home-banner .car-text .btn-primary
    {
        margin-bottom: 5px;
        bottom: 0rem;
        right: 38%;
        font-size: 0.7rem;
    }
    .home-banner .side-img img
    {
        margin-bottom: 15px;
    }

    .side-img-text{
        position: absolute;
        left: 2px;
        top: 2rem;
        font-size: 1.1rem;
    }
}
@media(max-width:768px)
{
    .set-side-img
    {
        display: flex;
    }


    .row .side-img .img-a{
        position: relative;
        margin-left: 0px !important;
    }


    .side-img-text{
        position: absolute;
        left: 2px;
        top: 2rem !important;
        font-size: .8rem;
    }

  

    .why-buy-cards{

    
        display: flex;
        
        flex: wrap;

      /* position: relative;
      left: 20%; */
        /* height: 300px; */
    }


}